<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kafka.user">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kafka.user.KafkaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="false"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coyote"
        tools:replace="android:networkSecurityConfig"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.kafka.user.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->

<!--        <service android:name=".player.PlayerService"/>-->

        <service
            android:name="com.kafka.player.timber.playback.TimberMusicService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

<!--        <receiver android:name="androidx.media.session.MediaButtonReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_BUTTON" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="com.kafka.user.injection.LoggerInitializer"
                android:value="androidx.startup" />
            <meta-data  android:name="com.kafka.user.injection.ThemeInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>
</manifest>
